<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" th:href="@{/libraries/bootstrap-4.5.2-dist/css/bootstrap.min.css}" >

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"  th:src="@{/libraries/jQuery/jquery-3.5.1.slim.js}" ></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" th:src="@{/libraries/jQuery/popper1.16.1.js}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" th:src="@{/libraries/bootstrap-4.5.2-dist/js/bootstrap.min.js}" ></script>
    <link href="../static/css/custom/custom_index.css" th:href="@{/css/custom/custom_index.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="jumbotron">
    <div class="container">
        <h1>Spring Framework Guru</h1>
        <p class="lead" th:text="#{product.courses.headline}">Online Courses for Spring Framework</p>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 th:text="#{product.courses.tagline}">Spring Framework Guru - Course Name</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6" >
            <img role="presentation"
                 src="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:705/https://www.filepicker.io/api/file/nXPqg69JSkuVO2Bqm8wr"
                 class="d-block mx-auto" alt=""/>
        </div>

        <div class="col-md-4 offset-2" >
            <div>
                <h2>Course Title</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Aliquet nibh praesent
                    tristique magna sit amet purus gravida. At in tellus integer feugiat scelerisque.
                    Vel quam elementum pulvinar etiam non quam. Ipsum suspendisse ultrices gravida dictum.
                    Ultricies leo integer malesuada nunc vel risus commodo viverra. Ac auctor augue mauris
                    augue neque gravida. Eu feugiat pretium nibh ipsum consequat nisl vel. Lacus viverra
                    vitae congue eu consequat ac felis donec et. Porta non pulvinar neque laoreet.
                </p>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6 offset-8">
            <button type="button" class="btn btn-primary" th:text="#{product.courses.buynow}">Buy Now!</button>
        </div>
    </div>
</div>


</body>
</html>